/*Общие моменты*/

.container1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-family: 'PT Serif', serif;
    font-size: 2.8ch;
  }
  
.body1{
    min-height: calc(100vh - 2rem);
}
  
.map{
    display: grid;
    justify-content: stretch;
}

/*Работа с header*/

.header{
  font-family: 'PT Serif', serif;
  font-weight: 700;
  text-decoration-line: none;
  border-bottom: 0.15rem solid #d6d8da;
  display: block;
}

.hight_header{
  height: 3.2rem;
  display: flex;
  border-bottom: 0.15rem solid #d6d8da;
  text-decoration: none;
}

.header_container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.hight_header2{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.top_Contacts{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5ch;
  
}

.pol.pol{
  text-decoration: none;
  color: #125064;
}
.wts.wts{
  text-decoration: none;
}
.adress{
  border-right: 0.1rem solid #d6d8da;
  padding: 0.6rem;
}

.phone{
  border-right: 0.1rem solid #d6d8da;
  padding: 0.6rem;
}

.email{
  border-right: 0.1rem solid #d6d8da;
  padding: 0.6rem;
}

.sots_seti{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}

.wts{
  border-right: 0.1rem solid #d6d8da;
  border-left: 0.1rem solid #d6d8da;
  padding: 0.6rem;
}

.tlg{
  border-right: 0.1rem solid #d6d8da;
  padding: 0.6rem;
}

.low_header{
  display: flex;
    justify-content: space-between;
    font-size: 3rem;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
}

.logo_in_head{
  margin-left: 0.1rem;
  
}

.top_buttons{
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  text-decoration: none;
  
}

.name_str{
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(ellipse, #CEDCDF, #9ADCDF);
  border-radius: 1px;
  padding-bottom: 2rem;
  padding-left: 1rem;
  font-family: 'PT Sans', serif;
  font-weight: 700;
  font-size: 3ch;
  color: black;
}




@media screen and (min-device-width: 200px) and (max-device-width: 600px){

  .container1{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
  }
 
  .header_container{
    display: flex;
    justify-content: flex-start;
    padding-left: 2%;
    margin-left: 0.1rem;
    padding-right: 0.5rem;
  }

  .header{
    font-family: 'PT Serif', serif;
    font-weight: 700;
    text-decoration-line: none;
    display: flex;
    flex-direction: column;
  }

  
.hight_header{
  height: 3.2rem;
  text-decoration: none;
  margin-bottom: 5rem;
}

.hight_header2{
  display: flex;
  flex-direction: column;
}
  
.top_Contacts{
    display: flex;
    align-items: center;
    font-size: 1.5ch;
    
}

.sots_seti{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.low_header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 3rem;
  text-decoration: none;
  
}

.top_buttons{
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.nofoter{
  
  background-color: #1fb3b3;
}

.whywe{
  display: flex;
  flex-direction: column;
  gap: 0.0001rem;
}
}