/*Общие моменты*/

.container1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-family: 'PT Serif', serif;
    font-size: 2.8ch;
}
.name_str{
  display:none;
}
  
.body1{
    min-height: calc(100vh - 2rem);
    justify-content: center;
}
.text{
    width: 100%;
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 5vh;
    font-weight: 600;
}
.text1{
  display: none;
}
  
.map{
    display: grid;
    justify-content: stretch;
}

  /*Работа с header*/
.header{
    font-family: 'PT Serif', serif;
    font-weight: 700;
    text-decoration-line: none;
    border-bottom: 0.15rem solid #d6d8da;
    display: block;
    width: 100%;
}
  
.hight_header{
    height: 7vh;
    display: flex;
    border-bottom: 0.15rem solid #d6d8da;
    text-decoration: none;
}

.header_container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
  
.hight_header2{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
  
.top_Contacts{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5vh;
    
}
h1{
  font-size: 2.4ch;
  font-weight: 400;
}
.pol.pol{
    text-decoration: none;
    color: #125064;
}

.wts.wts{
    text-decoration: none;
}

.adress{
    border-right: 0.1rem solid #d6d8da;
    padding: 0.7vw;
    margin-top: 1vh;
}
  
.phone{
    border-right: 0.1rem solid #d6d8da;
    padding: 0.7vw;
    margin-top: 1vh;
}
  
.email{
    border-right: 0.1rem solid #d6d8da;
    padding: 0.7vw;
    margin-top: 1vh;
}
  
.sots_seti{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
}
  
.wts{
    border-right: 0.1rem solid #d6d8da;
    padding: 0.7vw;
    margin-top: 1vh;
}
  
.tlg{
    border-right: 0.1rem solid #d6d8da;
    padding: 0.7vw;
    margin-top: 1vh;
}
  
.low_header{
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
}
  
.logo_in_head{
    margin-left: 0.1rem;
    
}
  
.top_buttons{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    text-decoration: none;
    
}

  /*Работа с главной страницей*/


.background{
  /*height: 600px;
  object-fit: fill;
  background-attachment: fixed;
  object-fit: contain;*/
  background-size: cover;
  width: 100%;
  margin: 2vh;
}

.about_us{
    background: radial-gradient(ellipse, #ffffff, #d3d3db);
    border-radius: 1px;
    padding-bottom: 1.5rem;
}

.content-slider {
  width: 100%;
  height: 360px;
}

.slider {
  height: 320px;
  width: 680px;
  margin: 40px auto 0;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 320px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 680px;
  height: 320px;
  position: absolute;
  top: -325px;
  list-style: none;
}

.slider .quote {
  font-size: 40px;
}

.slider .source {
  font-size: 20px;
  text-align: right;
}

.nofoter{
  display: flex;
  justify-content: center;
  /*background: radial-gradient(ellipse, #FEFFFF, #e2e4e4);*/
  padding: 2rem;
  border-radius: 1rem;
}


.back_whywe{
  background: radial-gradient(ellipse, #FEFFFF, #a4e4e4);
  padding-bottom: 2rem;
  margin-top: 2rem;
  
}
.why{
  width: 100%;
  text-align: center;
  margin-bottom: 3vh;
}
.whywe{
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  display: grid;
  gap: 2rem;
  
}

.our_plus{
  display: flex;
  border-style: solid;
  border-color: rgb(158, 153, 153);
  border-radius: 1rem;
  border-width: 0.08rem;
  padding: 1rem;
  background-color: #fdfeff;
}
.plus{
  width: 27vw;
}
.pic{
  height: 8ch;
  color: green;
  display: inline-block;
}

.hfaq{
  margin-bottom: 2ch;
  font-size: 2.5ch;

}
summary{
  font-size: 2ch;
}
#carouselExampleSlidesOnly{
  display: none;
}


@media screen and (min-device-width: 600px) and (max-device-width: 900px) {
  
  .header{
    font-family: 'PT Serif', serif;
    font-weight: 700;
    text-decoration-line: none;
    border-bottom: 0.15rem solid #d6d8da;
    display: block;
    width: 100%;
}
  
.hight_header{
    height: 9vw;
    display: flex;
    border-bottom: 0.15rem solid #d6d8da;
    text-decoration: none;
}

.header_container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
  
.hight_header2{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
  
.top_Contacts{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3vh;
    
}
#carouselExampleSlidesOnly{
  display: none;
}
.name_str{
  display: none;
}
.background{
  margin-left: 0;
}
}


@media screen and (min-device-width: 200px) and (max-device-width: 600px){
  
  #carouselExampleSlidesOnly{
    display: flex;
  }
  .container1{
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.5rem;
    font-size: 2ch;
  }
  .back{
    display: none;
  }
  .header{
    font-family: 'PT Serif', serif;
    font-weight: 700;
    text-decoration-line: none;
    display: flex;
    flex-direction: column;
  }

  .header_container{
    display: flex;
    justify-content: flex-start;
    padding-left: 2%;
    margin-left: 0.1rem;
    padding-right: 0.5rem;
  }

  .hight_header{
    height: 3.2rem;
    text-decoration: none;
    margin-bottom: 5rem;
    border: none;
  }

  .hight_header2{
    display: flex;
    flex-direction: column;
  }
    
  .top_Contacts{
    display: flex;
    align-items: center;
    font-size: 1.5ch;
    border: none; 
  }

  .adress{
    padding: 0.6rem;
    border: none;

}
  
  .phone{
      padding: 0.6rem;
      border: none;
  }
    
  .email{
      padding: 0.6rem;
      border: none;
  }

  .wts{
    padding: 0.6rem;
    border: none;
  }

  .tlg{
    padding: 0.6rem;
    border: none;
  }


  .sots_seti{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
  }

  .low_header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 3rem;
    text-decoration: none;
    
  }

  .top_buttons{
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }

  .nofoter{
    border-radius: 0;
    /*background-color: #1fb3b3;*/
  }

  .whywe{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .our_plus{
    display: flex;
    border-style: solid;
    border-color: rgb(158, 153, 153);
    border-radius: 1rem;
    border-width: 0.08rem;
    padding: 1rem;
    background-color: #fdfeff;
  }

  .plus{
    width: 50vw;
  }
  .pic1{
    padding-left: 25vw;
  }

  /*ANIMATION*/

  .content-slider {
    width: 95%;
    height: 40vh;
    overflow: hidden;
  }
  
  .slider {
    height: 450px;
    width: 80%;
    margin: 50px auto 0;
    overflow: visible;
    position: relative;
  }
  
  .mask {
    overflow: hidden;
    height: 450px;
  }
  
  .slider ul {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .slider li {
    width: 80%;
    height: 450px;
    position: absolute;
    top: -550px;
    list-style: none;
    font-size: 2rem;
  }
  
  .slider .quote {
    font-size: 2rem;
  }
  
}
#ham-menu{
  display: none;
}
.ham-menu{
  display: none;
}
@media screen and (min-device-width: 200px) and (max-device-width: 600px){
:root {
  --home-bg-color: #f2f3ee;
  --menu-bg-color: #cbcbc2;
  --silde-btn-border: #808080;
  --slide-btn-bg: #ddf2db;
  --slide-btn-hoverbg: #f1fff1;
  --alpha-green: rgba(33, 96, 47, 0.51);
  --icon-hover-color: #344a39;
  --icon-hover-bg: #709680;
  --text-color: #616161;
  --border-color: #709680;
  --heading-color: #344a39;
  --box-shadow-color: #b5b5ac;
  --lightest-green: #BCF3E9;
  --light-green: #9ab09a;
  --dark-green: rgba(188, 243, 233, 0.86);
  --box-shadow: 0px 0px 3px 5px var(--box-shadow-color);
  --border-radius: 60px 5px;
  --fade-green: rgba(57, 87, 64, 0.55);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body,
html {
  width: 100%;
  font-size: 10px;
  color: var(--text-color);
  font-weight: normal;
  font-family: sans-serif;
  background-color: var(--home-bg-color);
}
.container1{
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.5rem;
}

#ham-menu {
  display: none;
}
label[for="ham-menu"] {
  display: block;
  position: fixed;
  top: 24px;
  left: 20px;
  z-index: 999;
  width: 40px;
  height: 40px;
  /*background-color: var(--home-bg-color);
  border-radius: 15px;
  border: 2px solid var(--border-color);*/
}
.ham-menu {
  width: 50vw;
  height: 100%;
  position: fixed;
  top: 0;
  visibility: hidden;
  transform: translate(-110%);
  z-index: 998;
  /*background-color: var(--lightest-green);*/
  background-color: none;
  transition: 1s;
  display: flex;
  justify-content: center;
 /*align-items: center;*/
}
.ham-menu > ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin-top: 40px;
  margin-left: 50vw;
  padding: 20px;
  height: 30%;
}
.ham-menu > ul > li > a {
  font-size: 2.5rem;
  white-space: nowrap;
  letter-spacing: 0.15em;
  cursor: pointer;
  color: rgb(97, 97, 97);
  margin-bottom: 0;
}
#ham-menu:checked + label {
  background-color: transparent;
  border-color: #5876bb;
}
#ham-menu:checked ~ div.ham-menu {
  transform: translate(0px);
  visibility: visible;
}
.full-page-green {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-green  );
  z-index: 997;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: 500ms;
  position: fixed;
  top: 0;
  left: 0;
}
#ham-menu:checked ~ div.full-page-green {
  display: block;
  opacity: 1;
  visibility: visible;
}
[for="ham-menu"] > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}
.menu-line {
  display: block;
  width: 20px;
  height: 2px;
  margin: 2px 0 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: var(--border-color);
  transition: 500ms;
  transform-origin: right center;
}
[for="ham-menu"] > div > span:nth-child(4),
[for="ham-menu"] > div > span:nth-child(5),
[for="ham-menu"] > div > span:nth-child(6) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transform-origin: left center;
}
#ham-menu:checked + label span {
  background-color: var(--heading-color);
}
#ham-menu:checked + label span:nth-child(2),
#ham-menu:checked + label span:nth-child(5) {
  transform: scale(0);
}
#ham-menu:checked + label span:nth-child(1) {
  transform: translateY(16px) rotate(45deg);
}
#ham-menu:checked + label span:nth-child(4) {
  transform: translateY(16px) rotate(-45deg);
}
#ham-menu:checked + label span:nth-child(3) {
  transform: translateY(-16px) rotate(-45deg);
}
#ham-menu:checked + label span:nth-child(6) {
  transform: translateY(-16px) rotate(45deg);
}
p {
  display: inline;
  font-size: 1.8rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Light";
}
a {
  font-size: 1.6rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Light";
  display: inline;
  font-weight: bold;
  padding: 7px;
  color: var(--icon-hover-bg);
  text-decoration: none;
}
/*a::after {
  content: "\e806";
  display: inline-block;
  font-family: fontello;
  padding: 5px;
  font-size: 1.6rem;
  transform: rotate(-90deg);
}*/
.text {
  font-size: 2.5rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Bold", sans-serif;
}
.title {
  font-size: 3rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Bold", sans-serif;
  color: var(--icon-hover-bg);
  padding: 10px;
}
.heading {
  font-size: 6rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "Patua One";
}
.centre-text {
  text-align: center;
}
.bold-text {
  font-weight: bold;
}
.header_container{
  display: none;
}
.text1.text1{
  margin-left: auto;
  display: flex;
  width: 100%;
  text-align: center;
  font-family: 'PT Serif', serif;
  font-size: 4vh;
  font-weight: 600;
 margin-right: 0;
}
p.text1{
  margin-right: 0;
  width: 100%;
  margin-left: auto;
}
#carouselExampleSlidesOnly{
  margin-bottom: 2vw;
}
.name_str{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
  padding-bottom: 2rem;
  padding-left: 1rem;
  margin-top: 0;
  font-family: 'PT Sans', serif;
  font-weight: 700;
  font-size: 3ch;
  color: #125064;
  width: 100%;
  margin-top: 5vh;
}
.container1 {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-family: 'PT Serif', serif;
  font-size: 2.8ch;
}
}