
  li{
    list-style-type: none;
  }
  
  ul {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
  }

  h1{
    font-family: 'PT Sans', serif;
    font-weight: 700;
    text-align: justify;
  }

